<center>
    <div class="row fatherdoor notFound">
        <div class="door bg-secondary" style="border:1px grey solid">
            <div class="circle1 circle1_404">
                <div class="circle2"></div>
            </div>
        </div>
        <img src="/img/boy.png" alt="star" class="boy boy_notFound">
        <div class="okey okey_notFound">
            <h2 class="text-center lets"> Page not found.</h2>
        </div>
    </div>

    <a href="/" class="btn btn-primary btn-lg m-auto a_404">Explore Works</a>
</center>
