<div class="background">
    <!-- <form action="background" method="post"> -->
    <button type="submit" id="backgroundButton" class="btn">
        <img src="/img/night.png" id="backgroundImg" width="30px">
    </button>
    <!-- </form> -->
</div>
